<!DOCTYPE html>
<html lang="en">
<head data-th-include="content/fragment/layout :: head">
</head>
<body class="detail pushable">
<!-- personel css/js start -->
<link rel="stylesheet" href="/admin/assets/editormd/css/editormd.min.css" />
<link rel="stylesheet" href="/admin/assets/editormd/css/monokai.css" />
<link rel="stylesheet" href="/admin/assets/editormd/css/style.css" />
<script type="text/javascript" src="/assets/js/marked.min.js"></script>
<script type="text/javascript" src="/admin/assets/editormd/editormd.min.js"></script>
<style>
    .main.ui.container {
        margin:auto !important;
        max-width: 90% !important;
    }
    #header.ui.menu.fixed {
        left: 0;
    }
</style>
<!-- personel css/js end -->

<div class="pusher">
    <div class="ui fixed inverted mob-header menu" id ="mob-header" data-th-include="content/fragment/layout :: mob-header"></div>
    <div class="full height">
        <!-- main header start -->
        <div class="ui menu borderless fixed" id="header" data-th-include="content/fragment/layout :: header">
        </div>
        <!-- main header end -->
        <!-- main start -->
        <div class="main ui container">
            <!-- main article_content start -->
            <article class="article simditor ui form" data-th-fragment="content">
                <input type="hidden" name="headVersion">
                <div class="two fields">
                    <div class="field">
                        <label>文章标题</label>
                        <input type="text" name="title" placeholder="Article Title">
                    </div>

                </div>
                <div class="field">
                    <label>文章类别</label>
                    <div class="ui dropdown button category-select">
                        <input type="hidden" name="pid" />
                        <span class="text">请选择文章类别目录</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">

                        </div>
                    </div>
                </div>
                <div class="field">
                    <div id="article-area" class="article-content">
                        <div id="editormd" class="editormd" style="margin-top:40px">
                            <textarea style="display:none;" class="editormd-markdown-textarea" name="editormd-markdown-doc"></textarea>
                            <textarea style="display:none;" class="editormd-html-textarea" name="editormd-html-code"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui segment new-version-segment">
                    <!--<div class="field">-->
                        <!--<div class="ui toggle checkbox new-version-checkbox">-->
                            <!--<input type="checkbox" name="add-version" tabindex="0" class="hidden" checked="checked">-->
                            <!--<label>作为新版本</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="field toggle-enable-field">
                        <label>版本别名</label>
                        <input type="text" name="version" />
                    </div>
                    <div class="field toggle-enable-field">
                        <label>版本Comment</label>
                        <textarea rows="2" name="comment"></textarea>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="field ui accordion ">
                        <div class="title" style="display: inline-block;"><i class="icon dropdown"></i>其他选项</div>
                        <div class="content ui equal width form">
                            <div class="fields">
                                <div class="inline field">
                                    <label >访问密码</label>
                                    <input type="password" name="password" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui segment">
                                    <div class="ui toggle checkbox force-pass-checkbox">
                                        <input type="checkbox" name="force-pass" tabindex="0" class="hidden">
                                        <label>登录用户仍需要访问密码</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message">
                    <div class="header">提交失败</div>
                    <p></p>
                </div>
                <div class="ui segment">
                    <div id="sub" class="ui button">submit</div>
                </div>
            </article>
            <!-- main article_content end -->
        </div>
        <!-- main end -->
    </div>
    <div class="ui black inverted vertical footer segment" data-th-include="content/fragment/layout :: footer">
    </div>
</div>

<script data-th-inline="JavaScript">
window.topCategory = /*[[${topCategory}]]*/ null;

window.editor = editormd("editormd", {
    path : "/admin/assets/editormd/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
    height: "690px",
    width: "100%",
//         theme: "dark",
    saveHTMLToTextarea : true,
    editorTheme: "monokai",
    previewTheme: "dark",
    tocm: true,
    tocContainer: "",
    tocDropdown: false,
    imageUpload    : true,
    imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
    imageUploadURL : "./php/upload.php",
    toolbarIcons : function() {
        return ["undo", "redo", "|", "bold", "del", "italic", "quote", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "link", "reference-link", "image", "code", "preformatted-text", "table", "|", "goto-line", "watch", "preview", "fullscreen", "search"]
    },
    flowChart            : true,          // flowChart.js only support IE9+
    sequenceDiagram      : true,
    taskList             : true,
    lineNumbers          : false
});
$(function () {
    $('#sub').on('click', function(){
        var $form = $('article.form');
        var $title = $form.find('input[name=title]');
        var $pid = $form.find('input[name=pid]');
        var content = editor.getMarkdown();
        var $version = $form.find('input[name=version]');
        var $comment = $form.find('textarea[name=comment]');
        var $password = $form.find('input[name=password]');
        var $forcePass = $form.find('input[name=force-pass]');

        if ($title.val() === '')        return showError($form, "标题不能为空！");
        if ($pid.val() === '')          return showError($form, "类别不能为空！");
        if ($version.val() === '')      return showError($form, "版本别名不能为空！");
        if ($comment.val() === '')      return showError($form, "版本Comment不能为空！");
        if ($forcePass.is(':checked') &&  $password.val() === '')      return showError($form, "密码不能为空！");

        $.ajax({
            url: '/api/admin/article/save',
            type: 'POST',
            data: {
                'title': $title.val(),
                'category.id': $pid.val(),
                'content': content,
                'versionAlias': $version.val(),
                'versionComment': $comment.val(),
                'password': $password.val(),
                'forcePass': $forcePass.val()
            },
            success: function (d) {
                if (!d.success) {
                    alert('保存异常！');
                } else {
                    var redirectUrl = '/category/' + topCategory.id + '/article/' + d.data.id;
                    window.location.href = redirectUrl;
                }
            },
            error: function (e) {
                
            },
            complete: function (d) {

            }

        });

    });

    $('select.dropdown').dropdown();
    $('.ui.accordion').accordion();
    $('.force-pass-checkbox').checkbox();
    $('.new-version-checkbox').checkbox({
        onChecked: function() {
            $('.new-version-segment').find('.toggle-enable-field').removeClass('disabled');
        },
        onUnchecked: function() {
            $('.new-version-segment').find('.toggle-enable-field').addClass('disabled');
        }
    });
    $('.category-select.dropdown').dropdown({
        allowCategorySelection: true,duration:0,onChange:function (val, text, $item) {
            var id = $item.attr("data-id");
            $('.category-select').find('input[name=pid]').val(id);
        }
    });

    renderSubCategorySelect('.category-select', topCategory.id);
    
    function showError($form, msg) {
        $form.addClass('error');
        var $msg_p = $form.find('.ui.error.message > p');
        $msg_p.text(msg);
        setTimeout(function(){
            clearError($form);
        }, 1000);
        return false;
    }

    function clearError($form) {
        var $message = $form.find('.ui.error.message');
        if (!$message.is(":animated")) {
            $message.animate({opacity: 0}, function () {
                $form.removeClass('error');
                $message.find('> p').text('');
                $message.removeAttr('style');
            });
        }
    }

    function renderSubCategorySelect(id, cid) {
        var $topMenu = $(id).find('> .menu');
        $.ajax({
            type: 'GET',
            url: '/api/admin/category/sub-cate/' + cid,
            success: function (d) {
                if (!d.success) {
                    alert('获取子类别异常！');
                } else {
                    console.log(d)
                    $topMenu.append(recursionRender(d.data));
                }
            },
            complete: function (d) {

            }
        });
    }
    function recursionRender(root) {
        var $item = $('<div>').addClass('item').attr('data-id', root.id);
        if (root.type == 'FOLDER') {
            $item.append(
                $('<i class="dropdown icon">')
            ).append(
                $('<span>').text(root.name)
            );

            var subNavs = root.subNavs;
            if (subNavs.length === 0) return $item;
            var $subMenu = $('<div class="menu">').appendTo($item);
            for (var k in subNavs) {
                var item = subNavs[k];
                $subMenu.append(recursionRender(item));
            }
        } else {
            $item.text(root.name);
        }
        return $item;
    }

    function activeDimmer($dimmer) {
        $dimmer.addClass('active');
    }

    function clearDimmer($dimmer) {
        $dimmer.removeClass('active');
    }
})

</script>
<script src="/assets/js/layout.js"></script>
</body>
</html>