<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TungDoc</title>
	<link rel="stylesheet" href="assets/css/semantic.min.css" />
	<link rel="stylesheet" href="assets/css/docs.css" />
</head>
<body id="example">
<div class="pusher">
  <div class="toc" style="float: left;">
    <div class="ui vertical inverted sticky menu" style="">
      <div class="item">
        <a href="/"><b>UI Docs</b></a>
      </div>
      <a class="item" href="/introduction/getting-started.html">
        <b>Getting Started</b>
      </a>
      <a class="item" href="/introduction/new.html">
        <b>New in 2.2</b>
      </a>
      <div class="item">
        <div class=" header">Globals</div>
        <div class="menu">
            <a class="item" href="/globals/reset.html">Reset </a>
            <a class="item" href="/globals/site.html">Site </a>
        </div>
      </div>
      <div class="item">
        <div class="active  header">元素</div>
        <div class="menu">
            <a class="active item" href="/elements/button.html">按钮 </a>
            <a class="item" href="/elements/container.html">Container </a>
            <a class="item" href="/elements/divider.html">分隔条 </a>
            <a class="item" href="/elements/flag.html">Flag </a>
            <a class="item" href="/elements/header.html">标题 </a>
            <a class="item" href="/elements/icon.html">图标 </a>
            <a class="item" href="/elements/image.html">图片 </a>
            <a class="item" href="/elements/input.html">输入框 </a>
            <a class="item" href="/elements/label.html">标签 </a>
            <a class="item" href="/elements/list.html">列表 </a>
            <a class="item" href="/elements/loader.html">加载器 </a>
            <a class="item" href="/elements/rail.html">Rail </a>
            <a class="item" href="/elements/reveal.html">揭示 </a>
            <a class="item" href="/elements/segment.html">分段 </a>
            <a class="item" href="/elements/step.html">布置 </a>
        </div>
      </div>
      <div class="item">
        <div class=" header">组合</div>
        <div class="menu">
            <a class="item" href="/collections/breadcrumb.html">面包屑导航 </a>
            <a class="item" href="/collections/form.html">表单 </a>
            <a class="item" href="/collections/grid.html">网格 </a>
            <a class="item" href="/collections/menu.html">菜单 </a>
            <a class="item" href="/collections/message.html">消息 </a>
            <a class="item" href="/collections/table.html">表格 </a>
        </div>
      </div>
      <div class="item">
        <div class=" header">视图</div>
        <div class="menu">
            <a class="item" href="/views/advertisement.html">Advertisement </a>
            <a class="item" href="/views/card.html">卡片 </a>
            <a class="item" href="/views/comment.html">评论 </a>
            <a class="item" href="/views/feed.html">动态 </a>
            <a class="item" href="/views/item.html">Item </a>
            <a class="item" href="/views/statistic.html">统计 </a>
        </div>
      </div>
      <div class="item">
        <div class=" header">模块</div>
        <div class="menu">
            <a class="item" href="/modules/accordion.html">折叠菜单 </a>
            <a class="item" href="/modules/checkbox.html">复选框 </a>
            <a class="item" href="/modules/dimmer.html">遮罩层 </a>
            <a class="item" href="/modules/dropdown.html">下拉菜单 </a>
            <a class="item" href="/modules/embed.html">Embed </a>
            <a class="item" href="/modules/modal.html">弹出层 </a>
        
            <a class="item" href="/modules/nag.html">Nag </a>
        
            <a class="item" href="/modules/popup.html">提示框 </a>
        
            <a class="item" href="/modules/progress.html">进度条 </a>
        
            <a class="item" href="/modules/rating.html">评分 </a>
        
            <a class="item" href="/modules/search.html">搜索 </a>
        
            <a class="item" href="/modules/shape.html">形状 </a>
        
            <a class="item" href="/modules/sidebar.html">边栏 </a>
        
            <a class="item" href="/modules/sticky.html">Sticky </a>
        
            <a class="item" href="/modules/tab.html">标签页 </a>
        
            <a class="item" href="/modules/transition.html">过渡 </a>
        </div>
      </div>
      <div class="item">
        <div class=" header">Behaviors</div>
        <div class="menu">
            <a class="item" href="/behaviors/api.html">API </a>
            <a class="item" href="/behaviors/form.html">表单验证 </a>
            <a class="item" href="/behaviors/visibility.html">Visibility </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="article" style="overflow: hidden;" id="article">
    <div class="main ui container">
        <div class="ui dividing right rail">
          <div class="ui sticky index" style="width: 283px !important; height: 133px !important;">
            <h4 class="ui header">Reset</h4>
            <div class="ui vertical following fluid accordion text menu">
              <div class="item"><a class="active title" href="#what%27s-in-our-reset"><b>What's In Our Reset</b></a></div><div class="item"><a class="title" href="#reset-options"><b>Reset Options</b></a></div>
            </div>
          </div>
        </div>
        <div class="content" >
              <h1 id="h1-u4E2Au4EBAu4FE1u606F"><a name="个人信息" class="reference-link"></a><span class="header-link octicon octicon-link"></span>个人信息</h1>
              <p>姓名：朱远东 性别：男<br />学历：本科 专业：软件工程<br />手机：15217017515 电子邮箱：<a href="mailto:tung7@foxmail.com">tung7@foxmail.com</a><br />出生年月：1993-08 求职意向：Java软件工程师<br />个人主页：www.tung7.com</p> 
              <h1 id="h1-u5DE5u4F5Cu7ECFu5386"><a name="工作经历" class="reference-link"></a><span class="header-link octicon octicon-link"></span>工作经历</h1>
              <p>2013.2 ~ 2015.3 （假期实习）深圳保友有限公司<br />试用账户提醒模块，自动化试用账户创建，SEO，使用Drupal重构资讯网站</p> 
              <p>2016.3 ~ 2016.4 （实习）深圳市前海圆舟网络科技股份有限公司</p> 
              <p>2016.7 ~ 至今 （全职）深圳市前海圆舟网络科技股份有限公司</p> 
              <h1 id="h1-u4E13u4E1Au6280u80FD"><a name="专业技能" class="reference-link"></a><span class="header-link octicon octicon-link"></span>专业技能</h1>
              <ol> 
               <li>掌握SpringMVC，Spring，Hibernate，Mybatis。</li>
               <li>掌握MySQL， 了解Oracle。</li>
               <li>Linux。</li>
               <li>网络基础知识，TCP/IP协议族。</li>
               <li>HTML5/CSS3。熟悉jQuery和Vue。</li>
               <li>线程，并发，分布式，微服务（dubbo），系统架构。</li>
               <li>Docker。</li>
               <li>无障碍英文文档。</li>
              </ol> 
              <h1 id="h1-u9879u76EEu7ECFu5386"><a name="项目经历" class="reference-link"></a><span class="header-link octicon octicon-link"></span>项目经历</h1>
              <h2 id="h2-u5E73u53F0u5206u7EA7u5206u6743u6A21u5757"><a name="平台分级分权模块" class="reference-link"></a><span class="header-link octicon octicon-link"></span>平台分级分权模块</h2>
              <p>审计日志功能<br />使用自定义注解，借助Spring AOP实现服务层方法级的审计日志功能。</p> 
              <h2 id="h2-u540Eu7AEFu6D4Bu8BD5u5DE5u7A0B"><a name="后端测试工程" class="reference-link"></a><span class="header-link octicon octicon-link"></span>后端测试工程</h2>
              <p>节点状态检测<br />检测使用Java相关的Broker/Driver检测各节点状态<br />API编排测试</p> 
              <h2 id="h2-u96C6u7FA4u65B9u6848"><a name="集群方案" class="reference-link"></a><span class="header-link octicon octicon-link"></span>集群方案</h2>
              <h2 id="h2-u5E73u53F0u5373u65F6u901Au8BAFu6A21u5757"><a name="平台即时通讯模块" class="reference-link"></a><span class="header-link octicon octicon-link"></span>平台即时通讯模块</h2>
              <h2 id="h2-u4E2Au4EBAu535Au5BA2"><a name="个人博客" class="reference-link"></a><span class="header-link octicon octicon-link"></span>个人博客</h2>
              <table> 
               <thead> 
                <tr> 
                 <th>a</th> 
                 <th>b</th> 
                </tr> 
               </thead> 
               <tbody> 
                <tr> 
                 <td>sdfsd</td> 
                 <td>sdfsdf</td> 
                </tr> 
                <tr> 
                 <td>sdfsd</td> 
                 <td>sdfsd</td> 
                </tr> 
               </tbody> 
              </table>
        </div>
    </div>
  <!-- article end  -->
  </div>



<!-- pusher end  -->
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/semantic.min.js"></script>
<script>

$('.ui.sticky.index')
  .sticky({
    context: '#article',
    pushing: true
  })
;
</script>
</body>
</html>